.YouTube {
	background-color: black;
	position: relative;
}

.YouTube .Background {
	position: absolute;
	height: 100%;
	width: 50%;
	right: 0;
	z-index: -1;
}

.YouTube .YouTubeContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Youtube .Videos {
	width: 70%;
}

.YouTube .Paragraph {
	width: 65%;
	z-index: 1;
}

.YouTube .VideoContainer .Thumbnail img {
	max-width: 489px;
	width: 100%;
}

.YouTube .VideoContainer .Text {
	padding-left: 2.5%;
	padding-right: 2.5%;
	width: 45%;
}

.YouTube .VideoContainer .Thumbnail {
	padding: 2.5% 2.5% 2.5% 2.5%;
	width: 45%;
	position: relative;
}

.YouTube .Videos .VideoContainer {
	display: flex;
	background: black;
	margin-bottom: 5%;
	height: 100%;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 1px white;
}

@media (max-width: 756px) {
	.YouTube .Videos .VideoContainer {
		flex-direction: column;
	}

	.YouTube .VideoContainer .Text {
		width: 80%;
	}

	.YouTube .VideoContainer .Thumbnail {
		width: 80%;
	}
}

@media (max-width: 500px) {
	.YouTube .VideoContainer .Text {
		width: 90%;
	}

	.YouTube .VideoContainer .Thumbnail {
		width: 90%;
	}
}
